@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --text-dark: #333333;
  --text-light: #ffffff;
  --heading-dark: #413d4b;
  --turquoise: #00e0d0;
}

/* Reset Box sizing */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  /* padding: 0;
  margin: 0; */
}

body {
  color: var(--text-light);
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;

}

.text-dark {
  color: var(--text-dark);
}


/*
*********************** Our Story Section *********************/

/*
************************* Watch Section ***********************/

/*
*********************** Expertise Section *********************/

/* ==================== Expertise section - Media Queries */

/*
************************* Team Section ************************/

/*
**************************** Footer ***************************/

/*
******************** Contact Client Section *******************/